body {
    height: 100%; 
    margin:0;
    background: url("./images/background.jpg") no-repeat center fixed;
    background-size: cover;
}

.App {
    text-align: center;
    height: 100vh;
    
    
}

.anime-card {
    display: flex;
    align-items: center; 
    justify-content: start; 
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem; 
  }
  
  .anime-title {
    display: block; 
    width: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 200px; 
  }
  
  .blur-background {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(3px); 
    z-index: -1; 
}
